MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/phimhay
NODE_ENV=production

TMDB_API_KEY=
TMDB_BASE_URL=https://api.themoviedb.org/3
OPHIM_BASE_URL=https://ophim1.com/v1/api
PHIMAPI_BASE_URL=https://phimapi.com

ADMIN_USERNAME=admin
ADMIN_PASSWORD=DoiMatKhauManh123
JWT_SECRET=random_string_64_ky_tu_thay_doi
ACCESS_KEY=LUNVUITUOI

TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
PUBLIC_URL=

BANK_ID=970436
BANK_ACCOUNT=
BANK_ACCOUNT_NAME=
BANK_TEMPLATE=compact2
VIETQR_WEBHOOK_SECRET=

VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
